<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/show">
          <label for=""> Pirate Name</label>
            <input type="text" id="name" name="pirate[name]">
          <label for="breed"> Pirate Height</label>
            <input type="text" id="breed" name="breed">
          <label for="age"> Pirate Weight</label>
            <input type="text" id="age" name="age">

          <label for="name"> Puppy Name</label>
            <input type="text" id="name" name="name">
          <label for="breed"> Puppy Breed</label>
            <input type="text" id="breed" name="breed">
          <label for="age"> Puppy Age</label>
            <input type="text" id="age" name="age">
          <input type="submit" value="submit">

    </form>


  </body>
</html>


<!--
<form method="post" action="/puppy">
      <label for="name"> Puppy Name</label>
        <input type="text" id="name" name="name">
      <label for="breed"> Puppy Breed</label>
        <input type="text" id="breed" name="breed">
      <label for="age"> Puppy Age</label>
        <input type="text" id="age" name="age">
      <input type="submit" value="submit">
    </form>
  -->
