<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/show">
          <label for="name"> Pirate Name</label>
            <input type="text" id="name" name="pirate[name]">
          <label for="height"> Pirate Height</label>
            <input type="text" id="breed" name="pirate[height]">
          <label for="weight"> Pirate Weight</label>
            <input type="text" id="age" name="pirate[weight]">

          <label for="name"> Ship Name</label>
            <input type="text" id="name" name="pirate[ships][][name]">
          <label for="type"> Ship Type</label>
            <input type="text" id="type" name="pirate[ships][][type]">
          <label for="booty"> Ship Booty </label>
            <input type="text" id="booty" name="pirate[ships][][type]">
          <input type="submit" value="submit">

    </form>


  </body>
</html>


<!--
<form method="post" action="/puppy">
      <label for="name"> Puppy Name</label>
        <input type="text" id="name" name="name">
      <label for="breed"> Puppy Breed</label>
        <input type="text" id="breed" name="breed">
      <label for="age"> Puppy Age</label>
        <input type="text" id="age" name="age">
      <input type="submit" value="submit">
    </form>
  -->
